[Unit]
Description=MaxMind GeoIP update
ConditionPathExists=/etc/GeoIP.conf

[Service]
Type=oneshot
ExecCondition=grep --quiet '^AccountID .*[^0]\\+' /etc/GeoIP.conf
ExecCondition=grep --quiet '^LicenseKey .*[a-zA-Z0-9_]\\+' /etc/GeoIP.conf
ExecStart=/usr/bin/geoipupdate
User=root
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallFilter=@default @file-system @basic-io @system-service @signal @io-event @network-io
ReadWritePaths={{ geoip2_database_directory }}
